body{
    margin: 0px 60px;
    display: flex;
    min-height: 100vh;
    gap: 200px;
}

.menu-bar{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 20px;
}

.grid-container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin-top: auto;
    width: 600px;
    height: 600px;
}

.grid{
    box-sizing: border-box;
    flex: 0 0 auto;
    border: 1px solid gray;
}

