body{
    margin: 0;
    display: flex;
    justify-content: center;
}

.grid-container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 600px;
    height: 600px;
}

.grid{
    box-sizing: border-box;
    flex: 0 0 auto;
    border: 1px solid gray;
}
